# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
### Above combination will ignore all files without extension ###

!Makefile
.DS_Store
.idea
*.log
a.*
t.*
a-*
*cache
tmp/
*.bin
*.o
*log
*dSYM
compile_commands.json
*all.*
*.Q
*.log
.*
!/.gitignore
